div {
  font-family: "Bebas Neue", cursive;
}

input {
  border: 1px solid black;
  height: 2rem;
  width: 100%;
  padding-left: 0.5vw;
  border-radius: 5%;
}

.searchBar {
  display: flex;
  min-width: 200px;
}

button {
  height: 36px;
  width: 70px;
  color: #e84f4f;
  background-color: #181818;
  border: none;
}

.sideMenu {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  align-self: flex-end;
  position: fixed;
  top: 3%;
  left: 220px;
  display: flex;
  flex-direction: column;
}
.submitButton {
  width: 10px;
  height: 10px;
}

ul {
  padding-left: 0;
  flex-direction: column;
}

li {
  list-style-type: none;
}

.bottomInput {
  padding-bottom: 55px;
}

.calendar {
  width: 115px;
}

.genreTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 30%;
}

.genreLists {
  display: flex;
  flex-direction: column;
}

/* The sidebar menu */
.sidenav {
  height: 60%;
  width: 98%;
  border: 3px solid white;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 1%;
  background-color: black;
  color: #ffd983;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
}

label {
  width: 50%;
}

label p {
  margin: 0;
}

#filterBtn {
  position: absolute;
  top: 75%;
  left: 40%;
  border: 0px;
  border-radius: 10px;
  background-color: #e84f4f;
  color: #ffd983;
  width: 20%;
  height: 13%;
  font-size: 1.5rem;
}

#genreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 /* only used on mobile devices */
#xBtn {
  display: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* Star rating CSS */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.3em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
}

.star-rating input {
  /* display: none; */
  height: 0px;
}

.star-rating input::after {
  content: '\2605';
  color: #ccc;
  display: block;
  font-size: 2rem;
}

/* .star-rating input:hover::after {
  color: #fc0;
}

.star-rating input:hover ~ input::after {
  color: #fc0;
} */

.star-rating :checked::after,
.star-rating :checked ~ input::after {
  color: #f90;
}

.star-rating input:hover::after,
.star-rating input:hover ~ input::after {
  color: #fc0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 750px) {
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 510px) {
  .sidenav {
    height: 100%;
    width: 98%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: #ffd983;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  #genreBox {
    padding-top: 25px;
  }
  #filterBtn {
    top: 3%;
    left: 70%;
    width: 20%;
    height: 8%;
    font-size: 1.1rem;
  }
  #xBtn {
    display: inline;
    position: absolute;
    top: 3%;
    left: 6%;
  }
}
