input {
  border: 1px solid black;
  height: 2rem;
  width: -webkit-fill-available;
  padding-left: 0.5vw;
}

.searchBar {
  display: flex;
}

button {
  height: 36px;
  width: 70px;
  color: #e84f4f;
}

.sideMenu {
  display: flex;
  flex-direction: column;
}

.filterButton {
  background-color: #181818;
  border: 0px;
}

.closeButton {
  align-self: flex-end;
  position: fixed;
  top: 3%;
  left: 220px;
}

.xBtn {
  border: 0px;
  font-size: 2rem;
  background-color: black;
  opacity: 0.9;
  color: #e84f4f;
  width: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.bottomInput {
  padding-bottom: 55px;
}

.calendar {
  width: 115px;
}

.genreTypes {
  display: flex;
}

.genreLists {
  display: flex;
  flex-direction: column;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 255px;
  /* Set the width of the sidebar */
  padding-left: 2vw;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: black;
  /* Black */
  color: #ffd983;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 750px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Star rating CSS */
.star-rating {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked~label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
  color: #fc0;
}
