div {
  font-family: "Bebas Neue", cursive;
}

input {
  border: 1px solid black;
  height: 2rem;
  width: 100%;
  padding-left: 0.5vw;
  border-radius: 3px;
}

.searchBar {
  display: flex;
  min-width: 200px;
}

button {
  height: 36px;
  width: 70px;
  color: #e84f4f;
  background-color: #181818;
  border: none;
}

.sideMenu {
  display: flex;
  flex-direction: column;
}
.sideMenu p {
  margin: 3px;
}

.buttonContainer {
  align-self: flex-end;
  position: fixed;
  top: 3%;
  left: 220px;
  display: flex;
  flex-direction: column;
}
.submitButton {
  width: 10px;
  height: 10px;
}

.bottomInput {
  padding-bottom: 55px;
}

#search-icon {
  height: inherit;
}

.calendar {
  width: 60%;
  text-align: center;
}

.genreTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.genreLists {
  display: flex;
  flex-direction: column;
}

/* The sidebar menu */
.sidenav {
  height: 60%;
  width: 98%;
  font-size: 1.5rem;
  border: 3px solid white;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 1%;
  background-color: black;
  color: #ffd983;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#filter-options {
  display: flex;
}

.filter-type {
  width: 33%;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: auto;
}

label {
  width: 50%;
}

label p {
  margin: 0;
}

#filterBtn {
  border: 0px;
  border-radius: 10px;
  background-color: #e84f4f;
  color: #ffd983;
  width: 20%;
  height: 13%;
  font-size: 1.5rem;
  align-self: center;
}

#genreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* only used on mobile devices */
#xBtn {
  display: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* Star rating CSS */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.3em;
  justify-content: space-around;
  padding: 0;
  text-align: center;
  border: none;
  height: 30px;
}

.star-rating input {
  /* display: none; */
  height: 0px;
  border: none;
}

.star-rating input::after {
  content: "\2605";
  color: #ccc;
  display: block;
  font-size: 2rem;
  border: none;
}

/* .star-rating input:hover::after {
  color: #fc0;
}

.star-rating input:hover ~ input::after {
  color: #fc0;
} */

.star-rating :checked::after,
.star-rating :checked ~ input::after {
  color: #f90;
}

.star-rating input:hover::after,
.star-rating input:hover ~ input::after {
  color: #fc0;
}

@media screen and (max-height: 750px) {
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: -2px;
  }
  .sidenav {
    height: 98%;
    width: 98%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: #ffd983;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #genreBox {
    padding-top: 25px;
  }
  #filterBtn {
    top: 3%;
    left: 70%;
    width: 20%;
    height: 8%;
    font-size: 1.1rem;
    position: absolute;
  }
  #xBtn {
    display: inline;
    position: absolute;
    top: 3%;
    left: 6%;
    background-color: black;
    border: none;
  }
  #filter-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }

  .genreTypes {
    width: 100%;
  }

  .calendar {
    width: 75%;
  }
}
@media screen and (max-width: 425px) {
  .sidenav {
    height: 100%;
    font-size: 1rem;
  }
  .star-rating {
    width: 23px;
  }
  .calendar {
    width: 100%;
  }
}
