<div class="searchBar">
  <div class="sideMenu">
    <button (click)="toggleSide()" class="filterButton">
      <i class="fas fa-sliders-h fa-3x"></i>
    </button>
    <!-- Side Nav Filter starts here -->
    <div *ngIf="sideMenu" class="sidenav">
      <label class="closeButton">
        <button (click)="closeSide()" id="xBtn">
          <i class="far fa-times-circle fa-3x"></i>
        </button>
      </label>
      <section id="filter-options">
        <div id="genreBox" class="filter-type genre">
          <h1>Genre</h1>
          <div class="genreTypes">
            <label *ngFor="let genre of genres">
              <p>{{ genre.name }}</p>
              <input type="checkbox" [(ngModel)]="genre.checked" />
            </label>
          </div>
        </div>
        <div class="filter-type rating">
          <h1>Rating</h1>
          <div class="star-rating">
            <input type="radio" name="rating" *ngFor="let star of ratings" class="star" (change)='checkRating(star.value)' />
          </div>
        </div>
        <div class="filter-type dates">
          <h1>Release Date</h1>
          <div class="bottomInput">
            <input type="date" class="calendar" [(ngModel)]="minDate" />
            <p>thru</p>
            <input type="date" class="calendar" [(ngModel)]="maxDate" />
          </div>
        </div>
      </section>
      <button id="filterBtn" (click)="filter()">Filter</button>
    </div>
  </div>
  <input type="text" placeholder="Movie Title" [(ngModel)]="movieTitle" />
  <button type="button" (click)="titleSearch()" >
    <img src="../../assets/magnifying-glass.png" alt="Search" id="search-icon">
  </button>
</div>
