body {
    width: 100vw;
}
.error {
    font-size: 3rem;
    font-family: "Bebas Neue", cursive;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verbiage {
width: 65%;
padding: 0px;
margin: 0px;
}

.grid-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    text-align: center;
    margin: 0 0.5vw;
}

li {
    list-style-type: none;
    padding-bottom: 15px;
    width: 25vw;
    flex-basis: 32%;
}

ul {
    padding: 0;
}

@media (max-width: 510px) {
    li {
        flex-basis: 48%;
    }
}