<body>
  <router-outlet></router-outlet>
  <footer>
    <div class="footer">
      <button type="button" id="button-holder" (click)="openDialog()"><img id="easter-egg"
          src="/assets/suspenders.png"></button>
      <div class="name-container">
          <img class="social-icons" src="/assets/social-icons.png">
          <p id="team-urkel">Team Urkel</p>
       <div class="team-social-container">
        <div><a href="https://www.linkedin.com/in/chase-baker-b55631180/">Chase</a></div>
        <div><a href="https://www.linkedin.com/in/matthew-maeda-338204198/">Matt</a></div>
        <div><a href="https://www.linkedin.com/in/john-mccarthy-wayaway/">John</a></div>
        <div><a href="https://www.linkedin.com/in/rachaelwatson616/">Rachael</a></div>
        </div>
      </div>
    </div>  
  </footer>
</body>
