#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 100ms ease-in;
  outline: none;
}

#modal-wrapper:target {
  opacity: 1;
}

p {
  margin: 0;
}

#modal-content {
  position: absolute;
  top: 10%;
  height: 75vh;
  color: black;
  border-radius: 20px;
  /* border: 3px solid #e84f4f; */
  /* background-color: #333333; */
  z-index: 1;
  display: flex;
  flex-direction: row;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: 10px;
  font-size: 1.3rem;
}

img {
  width: 35%;
  padding: 15px;
}

@media screen and (max-width: 1023px) {
  img {
    display: none;
    width: 0%; 
  }
  .close {
    top: -25px;
  }
}

span {
  font-weight: normal;
  border: none;
}

.title {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #fff;
  font-family: "lato", sans-serif;
}

.headDetails {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  font-family: "lato", sans-serif;
}

.overview {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: left;
  font-family: "lato", sans-serif;
  color: black;
  overflow-y: scroll;
  height: 400px;
}

.overview span {
  border-radius: 20px;
  color: white;
}

#star {
  color: gold;
  padding-right: 5px;
  font-size: 1.5rem;
  padding-left: 10px;
}

#rating {
  color: white;
  font-size: 1.2rem;
}

.length {
  border: 3px solid #e84f4f;
  background-color: #e84f4f;
  border-radius: 10px;
  padding: 6px;
  margin: 5px;
}

.date {
  border: 3px solid #e84f4f;
  background-color: #e84f4f;
  border-radius: 10px;
  padding: 6px;
  margin: 5px;
}

.genre {
  border: 3px solid #e84f4f;
  background-color: #e84f4f;
  border-radius: 10px;
  padding: 6px;
  margin: 5px;
}

.spaces {
  padding: 10px;
}

.dec-pic {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1046px) {
  .title {
    font-size: 2rem;
  }

  .overview {
    font-size: 1.6rem;
    text-align: center;
    height: 200px;
  }

  .dec-pic {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 823px) {
  .headDetails {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .title {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .overview {
    font-size: 1rem;
    height: 130px;
  }
}
@media (max-width: 822px) {
  .headDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .spaces {
    padding: 2px;
  }
}

@media (max-width: 571px) {
  .overview {
    font-size: 1rem;
  }

  .genre {
    font-size: 1rem;
  }
}

@media (max-width: 519px) {
  .headDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .spaces {
    padding: 2px;
  }
}

@media (max-width: 494px) {
  .overview {
    font-size: 1rem;
  }

  #star {
    font-size: 1rem;
  }

  .genre {
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
  }
  .headDetails {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-left: 0px;
  }
}

.ten {
  font-size: 1rem;
  color: gray;
}

a {
  display: flex;
  justify-content: flex-end;
}

.btn {
  position: absolute;
  bottom: 91%;
  right: 0.1%;
  border-radius: 40px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
}

.btn:active {
  box-shadow: 0px 5px 0px 0px;
  /*  pressed button effect - using transform  */
  transform: translate(0px, 5px);
}

.close {
  position: absolute;
  top: -22%;
  align-items: center;
  justify-content: center;
  color: #e84f4f;
}
