#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 100ms ease-in;
  outline: none;
}

#modal-wrapper:target {
  opacity: 1;
}

#modal-content {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60vw;
  height: 85vh;
  color: black;
  border-radius: 20px;
  border: 1px solid #E84F4F;
  background-color: #333333;
  z-index: 1;
}

#details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
}

img {
  width: 40%;
}

span {
  font-weight: normal;
  border: none;
}

.title {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #FFF;
  font-family: "lato", sans-serif;
}

.headDetails {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "lato", sans-serif;
}

.overview {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "lato", sans-serif;
  color: black;
  overflow-y: scroll;
  height: 400px;
}

.overview span {
  padding: 10px;
  border-radius: 20px;
  color: white;
}

#star {
  color: gold;
  padding-right: 5px;
  font-size: 1.5rem;
  padding-left: 10px;
}

#rating {
  color: white;
  font-size: 1.2rem;
}

.length {
  border: 1px solid red;
  border-radius: 10px;
  padding: 4px;
}

.date {
  border: 1px solid red;
  border-radius: 10px;
  padding: 4px;
}

.genre {
  border: 1px solid red;
  border-radius: 10px;
  padding: 4px;
}

.spaces {
  padding: 10px
}

.dec-pic {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1046px) {
  .title {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .overview {
    font-size: 1.2rem;
    text-align: center;
    height: 150px;
  }

  .dec-pic {
    display: flex;
    flex-direction: column;
  }

  img {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 823px) {
  .headDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .overview {
    height: 90px;
  }
}

@media (max-width: 750px) {
  #modal-content {
    height: 80vh;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .overview {
    font-size: 1rem;
    height: 130px;
  }
}

@media (max-width: 571px) {
  .overview {
    font-size: 1rem;
  }
}

@media (max-width: 494px) {
  .overview {
    font-size: 1rem;
    height: 200px;
  }

  .title {
    font-size: 1rem;
    padding-top: 30px;
  }

  #star {
    font-size: 1rem;
  }

  .length {
    border: none;
    background-color: red;
  }

  .date {
    border: none;
    background-color: red;
  }

  .genre {
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    border: none;
    background-color: red;
  }

  .headDetails {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-left: 0px;
  }
}

.ten {
  font-size: 1rem;
  color: gray;
}

a {
  display: flex;
  justify-content: flex-end;
}

.btn {
  position: absolute;
  bottom: 91%;
  right: 0.1%;
  border-radius: 40px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
}

.btn:active {
  box-shadow: 0px 5px 0px 0px;
  /*  pressed button effect - using transform  */
  transform: translate(0px, 5px);
}

.close {
  background-color: #cc2e2e;
  box-shadow: 0px 5px 0px 0px #ce5050;
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
}

.close:hover {
  background-color: rgb(235, 109, 109);
}
