/* You can add global styles to this file, and also import other style files */

body {
  height: fit-content;
  min-height: 100vh;
  background-color: #181818;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.kernel-logo {
  width: 30%;
  min-width: 200px;
}

html,
body {
  height: fit-content;
}

