/* You can add global styles to this file, and also import other style files */
/* html {
    min-height: 100vh;
} */

body {
    height: 100%;
    min-height: 100vh;
    background-color: #181818;
    margin: 0;
}

.kernel-logo {
    width: 30%;
    min-width: 200px;
  
}
.name-container {
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-top: 25px;
    
    }
    
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
      margin: 15px;
    
    
    }
    .team-social-container {
    display: flex; 
    flex-direction: column;
    height: 100px;
    margin: none;
    padding: none;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    }
    
    #team-urkel{
    margin: 0px;
    padding: 0px;
    }
    
    .footer{
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 180px;
      background-color: #E84F4F;
      color: white;
    }
    
    .social-icons {
      height: 75px;
    }