button {
    font-size: 2rem;
    border: 3px solid blue;
    border-radius: 5px;
    background-color: #0099ff;
    width: 200px;
    height: 100px;
}
header {
    width: 100%;
}
a {
    color: #E84F4F;
}
main {
    width: 90vw;
    margin: auto;
}
ul {
    display: flex;
    justify-content: center;   
    align-items: center; 
}
li {
    list-style-type: none;
    color: black;
    margin: 5px;
}
.search-bar {
    width: 100%;
    flex: 1;
}

@media (min-width: 720px) {
    main {
        width: 80vw;
    }
}