button {
    font-size: 2rem;
    border: 3px solid blue;
    border-radius: 5px;
    background-color: #0099ff;
    width: 200px;
    height: 100px;
}

header {
    width: 100%;
    
}

.watchlist {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    
}
main {
    width: 90vw;
    margin: auto;
}
ul {
    display: flex;
    justify-content: center;   
    align-items: center; 
    flex-direction: row;
    
}
li {
    list-style-type: none;
    color: black;
    margin: 5px;
   
}
.kernel-container {
width: fit-content;
}

.kernel-logo {
    width: 30%;
}

.urkel-glasses {
width: 100px;
}

.watchlist-container{
display: flex; 
flex-direction: column; 
align-items: center;
height: 100px;
/* position: relative; */

}

.search-bar {
    width: 30%;
    text-align: center;
}

@media (min-width: 720px) {
    main {
        width: 80vw;
    }


}