<div id="wrapper">
  <img src="{{ posterPath }}" alt="" />
  <div id="movie-info">
    <h1>{{ title }}</h1>
    <p><span>Description</span>: {{ overview }}</p>
    <section id="details">
      <p class="info-header"><span>Release Date:</span> {{ releaseDate }}</p>
      <p class="info-header"><span>Rating:</span> {{ rating }} / 10</p>
      <p class="info-header"><span>Runtime:</span> {{ length }} min</p>
      <p class="info-header">
        <span>Genres: </span>
        <span *ngFor="let genre of genreNames" id="genreColor">{{ genre }} </span>
      </p>
    </section>
  </div>
</div>
