<div id="wrapper">
  <img src="{{ posterPath }}" alt="" />
  <div id="movie-info">
    <h1>{{ title }}</h1>
    <p><span>Description</span>: {{ overview }}</p>
    <section id="details">
      <p class="info-header"><span>Release Date:</span> {{ releaseDate }}</p>
      <p class="info-header"><span>Rating:</span> {{ rating }}</p>
      <p class="info-header"><span>Runtime:</span> {{ length }} min</p>
      <p class="info-header">
        <span>Genres: </span>
        <span *ngFor="let genre of genreNames" id="genreColor">{{ genre }} </span>
      </p>
      <!-- <button name="addToWatchlist" class="star" type="button"><i class="fas fa-star"></i></button> -->
      
      <!-- This is the star that's clicked  -->
          <button name="newWatchlist" (click)="addToWatchlist()"class="star" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24" width="50">
          <path
          d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z" />
        <path d="M0 0h24v24H0z" fill="none"/></svg></button>

        <!-- This is before the button is clicked -->
        <!-- <button name="addToWatchlist" class="starClicked" type="button"><svg xmlns="http://www.w3.org/2000/svg" height="50"
          viewBox="0 0 24 24" width="50">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button> -->
         

    </section>
  </div>
</div>