
#wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    padding: 0px;
}

#movie-info {
    flex-direction: column;
    align-items: center;
    /* border: 3px solid gray;
    box-shadow: 6px 7px rgb(194, 194, 194);
    background-color: rgb(168, 214, 243); */


}
/* #details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
} */
p {
    margin: 3px;
    padding: 2px;
}
h1 {
    justify-content: center;
    color: rgb(19,108,178);
    font-size: 1rem;
    
}

/* p span {
    font-weight: bold;

} */

/* section p {
    color: rgb(19,108,178);
    
} */
/* 
section p span{
    color: black;
    font-weight: bold;
} */
/* 
#genreColor {
    color: rgb(19,108,178);
} */
p {
    display: flex;
    justify-content: center;
    color: rgb(112, 112, 112);

}

.star {
    color: gold;
    padding-right: 5px;
}

img {
    width: 60%;
    height: auto;
}
li {
    list-style-type: none;
}

@media (min-width: 720px) {
    #wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    /* #movie-info {
        padding-left: 0.5vw;
        max-width: 60vw;
    } */
}