<div id="wrapper">
  <div>
    <h1>{{title}}</h1>
    <p><span class="info-header">Description</span>: {{overview}}</p>
    <section id="details">
      <p><span class="info-header">Release Date:</span> {{releaseDate}}</p>
      <p><span class="info-header">Rating:</span> {{rating}}</p>
      <p><span class="info-header">Runtime:</span> {{length}}</p>
      <p>
        <span class="info-header">Genres:</span> <span *ngFor="let genre of genreIDs">{{genre.name}} </span>
      </p>
    </section>
  </div>
  <img src='{{posterPath}}' alt="">
</div>
