.hideModal {
    display: none;
}

#wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    height: 100%;
}

.saved {
    content: url('../../assets/saved.png');
}

.not-saved {
    content: url('../../assets/empty.png');
}

button {
    align-self: flex-end;
    padding: 0;
    border: none;
    background-color: transparent;
    user-select: none;
}

.saved-icon {
    max-width: 50px;
    max-height: 50px;
}

#movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1 {
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
}

p {
    display: flex;
    justify-content: space-around;
    color: rgb(245, 245, 245);
    align-items: center;
    width: 100%;
    font-size: 1rem;
    margin: 3px;
    padding: 2px;
}

.star {
    color: gold;
    padding-right: 5px;
    font-size: 1.5rem;
}

#movie-poster {
    width: 60%;
    object-fit: contain;
}

#poster-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

.modal-button {
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    background-color: #e84f4f;
    color: whitesmoke;
    border: none;
    width: 45%;
    font-size: .9rem;

}

@media (min-width: 720px) {
    #wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }
}