#wrapper {
    /* lightgrey background size */
    width: 80%;
    height: 250px;
    background-color: rgb(231, 231, 231);

}

img {
    /* size of img */
    width: 20%;
    height: 230px;
    /* position of img */
    position: relative;
    right: 65%;
    top: 10px;

}

/* all of the information of a single movie */
#movie-info {
    position: relative;
    left: 30%;
}

/* move title */
h1 {
    font-size: 1.2rem;
    color: rgb(76, 113, 216);
}

/* details of movie */
#details {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

p {
    max-width: 30vw;
    font-size: 0.8rem;
}

#details p {
    margin: 0;
}

#wrapper {
    display: flex;
}

#movie-info {
    padding-right: 5vw;
}

.info-header {
    font-weight: bold;
}