#wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
    padding: 10px;
    font-family: Helvetica;
    box-shadow: 6px 7px rgb(194, 194, 194);
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}

.saved {
    content: url('../../assets/saved.png');
}

.not-saved {
    content: url('../../assets/empty.png');
}

button {
    align-self: flex-end;
    padding: 0;
    border: none;
    background-color: transparent;
    user-select: none;
}

.saved-icon {
    max-width: 50px;
    max-height: 50px;
}

#movie-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    font-size: small;
}
#details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
p {
    margin: 3px;
    padding: 2px;
}
h1 {
    margin: 3px;
    color: rgb(19,108,178);

}
.info-header {
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    width: fit-content;
}

p span {
    font-weight: bold;

}

section p {
    color: rgb(19,108,178);
    
}

section p span{
    color: black;
    font-weight: bold;
}

#genreColor {
    color: rgb(19,108,178);
}
p {
    color: rgb(112, 112, 112);
}

img {
    height: 235px;
}
li {
    list-style-type: none;
}

@media (min-width: 720px) {
    #wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    #movie-info {
        padding-left: 0.5vw;
        max-width: 60vw;
    }
}